:root{
    --border : 1px solid;
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}
header{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    background-image: url('./images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
a{
    font-family: 'Alata', sans-serif;
}
 
nav{
    margin-right: 10em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
nav a{
    text-decoration: none;
    color: var(--Dark-Gray);
    font-size: 1.3rem;
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    place-items: center;
}
.underline{
    width: 30px;
    height: 3px;
    background: var(--Dark-Gray);
    margin-left: 0.6em;
    display: none;
}
.show-underline{
    display: block;
    transition: all 1s 0s ease;
}
.logo{
    margin-left: 10em;
}
.deliver{
    padding: 20px;
    border: 1px solid var(--Dark-Gray);
    font-size: 2.5rem;
    width: 350px;
    font-family: 'Alata', sans-serif;
    color: var(--Dark-Gray);
    text-transform: uppercase;
    margin-left: 4em;
    margin-top: 2.5em;
    letter-spacing: 2px;
    margin-bottom: 2em;
}
.logo-on-nav{
    display: none;
}
img[src="./images/icon-hamburger.svg"]{
    display: none;
}
.vr{
    margin: auto;
    margin-top: 5em;
    max-width: 90%;
    font-family: 'Alata', sans-serif;
}
.about-vr p{
    line-height: 1.5;
}
.heading a{
    text-decoration: none;
    color: black;
    display: grid;
    align-self: flex-end;
    justify-self: flex-end;
    letter-spacing: 0;
    font-size: .8rem;
    font-weight: lignt;
}
a h5{
    border: var(--border);
    padding: 1em;
    width: 80px;
    height: 5px;
    display: grid;
    place-content: center;
}
a h5:hover{
    background: #000;
    color: white;
}
.creations{
    margin-top: 9em;
    max-width: 75%;
    margin-inline: auto;
    
}
.one, .two, .three, .four, .five, .six, .seven, .eight{
    max-width: 100%;
    
    height: 130px;
    background-position: center;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 2rem, 1.5rem);
    color: rgba(255, 255, 255, 0.8);
    display: grid;
    align-items: flex-end;
    padding: 0 0 0.4em 0.4em;
    margin-bottom: 1em;
}
.one{
    background-image: url('./images/mobile/image-deep-earth.jpg');
}
.two{
    background-image: url('./images/mobile/image-night-arcade.jpg');
}
.three{
    background-image: url('./images/mobile/image-soccer-team.jpg');
}
.four{
    background-image: url('./images/mobile/image-grid.jpg');
}
.five{
    background-image: url('./images/mobile/image-from-above.jpg');
}
.six{
    background-image: url('./images/mobile/image-pocket-borealis.jpg');
}
.seven{
    background-image: url('./images/mobile/image-curiosity.jpg');
}
.eight{
    background-image: url('./images/mobile/image-fisheye.jpg');
}
.pic{
    text-decoration: none;
}
.pic:hover{
    color: black;
    cursor: pointer;
    box-shadow:5px 5px 1000px  var(--Dark-Gray) inset;
}

.picture-footer{
    padding: .5em 1.5em;
    border: var(--border);
    letter-spacing: 0;
    font-size: .8rem;
    max-width: 70px;
    margin: auto;
    margin-bottom: 5.5em;
    display: grid;
    place-items: center;
}
.footer-link{
    text-decoration: none;
    color: black;
    place-items: center;
    text-transform: uppercase;
}
.picture-footer:hover{
    background: #000;
    color: white;
}
footer{
    background: #000;
    margin: auto;
}

.footer-logo{
    padding: 2em 1em;
    display: grid;
    justify-content: center;
}
.footer-logo img{
    margin-top: 2em;
}

.footer-nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0em;
}

.footer-nav{
    padding-bottom: 1.5em;
}
.socials{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    margin: auto;
    max-width: 60%;
    justify-items: center;
    padding-bottom: 1em;
    cursor: pointer;
}
.note{
    color: var(--Very-Dark-Gray);
    margin: 0 0 0 1em;
    padding-bottom: 1em;
}

@media (min-width:600px) {
    h2, h1{
        font-size: clamp(2.5rem, 3rem, 10rem);
        margin-bottom: 0;
    }
    .vr{
        /* display: grid;
        grid-template-columns: repeat(2, 1fr ); */
        margin-left: 10em;
    }
    .about-vr {
        padding-inline: 5em;
        padding-block: 0em;
        max-height: 25em;
        background: white;
        position: absolute;
        max-width: 30%;
        top: 47em;
        left: 47em;
        
    }
    
    .gogle img{
        background-image: url('./images/desktop/image-interactive.jpg');
    }
    .heading{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 6em;
    }
    .heading h1{

    }
    .heading a{
        text-decoration: none;
        
    }
    .one{
        max-width: 100%;
        background-image: url('./images/mobile/image-deep-earth.jpg');
        height: 130px;
        background-position: center;
        background-repeat: no-repeat;
        text-transform: uppercase;
        font-size: clamp(1.5rem, 2rem, 1.5rem);
        color: rgba(255, 255, 255, 0.8);
        display: grid;
        align-items: flex-end;
        padding: 0 0 0.4em 0.4em;
        margin-bottom: 1em;
    }
    .one, .two, .three, .four, .five, .six, .seven, .eight{
        background-position: center;
        background-repeat: no-repeat;
        text-transform: uppercase;
        font-size: clamp(1.5rem, 2rem, 1.5rem);
        color: rgba(255, 255, 255, 0.6);
        padding: 0 0 2em 1em;
        margin-bottom: 1em;
        margin-top: -2em;
    }
    .one{
        background-image: url('./images/desktop/image-deep-earth.jpg');
    }
    .two{
        background-image: url('./images/desktop/image-night-arcade.jpg');
    }
    .three{
        background-image: url('./images/desktop/image-soccer-team.jpg');
    }
    .four{
        background-image: url('./images/desktop/image-grid.jpg');
    }
    .five{
        background-image: url('./images/desktop/image-from-above.jpg');
    }
    .six{
        background-image: url('./images/desktop/image-pocket-borealis.jpg');
    }
    .seven{
        background-image: url('./images/desktop/image-curiosity.jpg');
    }
    .eight{
        background-image: url('./images/desktop/image-fisheye.jpg');
    }
    .pictures{
        margin: auto;
        margin-top: 1.5em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 76%;
        grid-gap: 2em;
        grid-row-gap: 3.5em;
    }
    .pic{
        height: 400px;
        width: 230px;
    }
    .footer-link{
        display: none;
    }
    .footer-nav{
        display: grid;
        grid-template-columns: repeat(5, 100px);
        margin-left: 7.5em;
    }
    #support a{
        text-decoration: none;
        color: var(--Dark-Gray);
        font-size: 1.5em;
        margin-top: 9em;
        width: 50px;
        
    }
    .support{
        margin-top: 3em;
    }
    .socials{
        float: right;
        margin-top: -8.5em;
        margin-right: 6em;
    }
    .footer-logo{
        margin-left: 8.5em;
    }
    
    footer{
        padding: 1em;
        margin-top: 5.5em;
    }
    .note{
        float: right;
        margin-top: -4em;
        margin-right: 6.5em;
    }
    .footer-logo{
        padding: 2em 1em;
        display: grid;
        justify-content: left;
    }
}

@media screen and (max-width: 600px) {
    h2, h1{
        text-align: center;
    }
    h1{
        margin-top: 2em;
    }
    
    header{
        background-image: url('./images/mobile/image-hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        height: 100vh;
    }
    .last-underline{
        margin-bottom: 1em;
    }
    .heading h1{
        margin-bottom: 1.5em;
    }
    .logo{
        margin-left: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr );
    }
    img[src="./images/icon-hamburger.svg"]{
        display: grid;
        position: absolute;
        right: 2em;
        top: 2.8em;
        cursor: pointer;
    }
    .deliver{
        margin-left: -4.8em;
        margin-top: 6em;
    }
    nav{
        display: block;
        border: var(--border);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
        justify-items: flex-start;
        position: absolute;
        top: 1em;
        background: hsl(0, 0%, 0%);
        padding: 10px;
        width: 90%;
        left: 0.8em;
        border-radius: 10px;
        visibility: hidden;
        opacity: 0%;
        transition: all 1s 0s ease;
    }
    .show-nav{
        visibility: visible;
        opacity: 100%;
    }
    nav a {
        padding: 20px;
    }
    .logo-on-nav{
        display: grid;
        grid-template-columns: repeat(2,1fr );
        margin-top: 5px;
    }
    .logo-on-nav img[src="./images/logo.svg"]{
        margin-left: 1.5em;
    }
    .logo-on-nav img[src="./images/icon-close.svg"]{
        justify-self: flex-end;
        cursor: pointer;
    }
    .gogle img{
        max-width: 100%;
    }
    .about-vr p{
        text-align: center;
    }
    .heading a{
        display: none;
    }
    .creations{
        margin-top: 7em;
    }
    #support{
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .deliver{
        width: 300px;
        padding: 10px;
    }
   
}

    